In [1]:
# Load packages
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pickle
import requests

from nba_api.stats.endpoints import shotchartdetail
from nba_api.stats.static import players, teams

from nba import NbaScraper, ShotCharts

In [2]:
# Load players
with open('./data/player_shots.pickle', 'rb') as f:
    players_shots = pickle.load(f)

In [3]:
# Count the shots for each player.
VAR_SELECT = ['PLAYER_NAME', 'SHOT_ATTEMPTED_FLAG', 'SHOT_MADE_FLAG']
shots_count = players_shots.loc[:, VAR_SELECT]\
    .groupby('PLAYER_NAME')\
    .agg({
        'SHOT_ATTEMPTED_FLAG': 'sum',
        'SHOT_MADE_FLAG': 'sum'
    })

In [4]:
# Select the players wiht more than 1000 shots.
PLAYERS_1000 = shots_count[shots_count['SHOT_MADE_FLAG'] > 1000].index

In [5]:
PLAYERS_1000

Index(['Aaron Gordon', 'Al Horford', 'Alec Burks', 'Andre Drummond',
       'Andrew Wiggins', 'Anfernee Simons', 'Anthony Davis', 'Bam Adebayo',
       'Bobby Portis', 'Bogdan Bogdanovic',
       ...
       'Taurean Prince', 'Terry Rozier', 'Thaddeus Young', 'Tim Hardaway Jr.',
       'Tobias Harris', 'Trae Young', 'Tyrese Haliburton', 'Tyus Jones',
       'Wendell Carter Jr.', 'Zach LaVine'],
      dtype='object', name='PLAYER_NAME', length=131)

In [6]:
# Select columns of the dataframe
df = players_shots[players_shots['PLAYER_NAME'].isin(PLAYERS_1000)]\
    .loc[:, ['PLAYER_ID', 'PLAYER_NAME', 'LOC_X', 'LOC_Y', 'SHOT_MADE_FLAG']]

In [7]:
df[df.SHOT_MADE_FLAG == 1]

    PLAYER_ID   PLAYER_NAME LOC_X LOC_Y SHOT_MADE_FLAG
3      203500  Steven Adams    12     6              1
6      203500  Steven Adams     5     7              1
7      203500  Steven Adams     0    -6              1
8      203500  Steven Adams     6    15              1
9      203500  Steven Adams     0    -6              1
..        ...           ...   ...   ...            ...
508   1627826   Ivica Zubac   -37    81              1
509   1627826   Ivica Zubac    -1    58              1
511   1627826   Ivica Zubac     4    -1              1
512   1627826   Ivica Zubac    11    93              1
513   1627826   Ivica Zubac    -6    15              1

[234941 rows x 5 columns]

In [8]:
# Save dataframe
with open('./data/player_shots_subset.pickle', 'wb') as f:
    pickle.dump(df, f, protocol=pickle.HIGHEST_PROTOCOL)