In [1]:
# Load packages
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pickle
import requests

from nba_api.stats.endpoints import shotchartdetail
from nba_api.stats.static import players, teams

from nba import NbaScraper, ShotCharts

In [2]:
# Load shots
with open('./data/player_shots_subset.pickle', 'rb') as f:
    players_shots = pickle.load(f)

In [3]:
# Add 60 to LOC_Y to fit on the court
players_shots.LOC_Y = players_shots.LOC_Y + 60

In [4]:
players_shots

    PLAYER_ID   PLAYER_NAME LOC_X LOC_Y SHOT_MADE_FLAG
0      203500  Steven Adams     1   180              0
1      203500  Steven Adams   -22    87              0
2      203500  Steven Adams     2   124              0
3      203500  Steven Adams    12    66              1
4      203500  Steven Adams    12   111              0
..        ...           ...   ...   ...            ...
509   1627826   Ivica Zubac    -1   118              1
510   1627826   Ivica Zubac    34    78              0
511   1627826   Ivica Zubac     4    59              1
512   1627826   Ivica Zubac    11   153              1
513   1627826   Ivica Zubac    -6    75              1

[493723 rows x 5 columns]

In [5]:
players_shots[players_shots.LOC_Y < 0]

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, LOC_X, LOC_Y, SHOT_MADE_FLAG]
Index: []

In [6]:
# Remove impossible shots
X_COND = (-250 < players_shots.LOC_X) & (players_shots.LOC_X < 250)
Y_COND = (0 < players_shots.LOC_Y) & (players_shots.LOC_Y < 422.5)
players_shots_clean = players_shots[X_COND & Y_COND]

In [7]:
# Save dataframe
with open('./data/players_shots_clean.pickle', 'wb') as f:
    pickle.dump(players_shots_clean, f, protocol=pickle.HIGHEST_PROTOCOL)

In [7]:
# Remove restricted area
X_COND = (-45 > players_shots_clean.LOC_X) | (players_shots_clean.LOC_X > 45)
Y_COND = (20 > players_shots_clean.LOC_Y) | (players_shots_clean.LOC_Y > 105)
players_shots_restricted = players_shots_clean[X_COND & Y_COND]

In [13]:
# Save dataframe
with open('./data/players_shots_clean_restricted.pickle', 'wb') as f:
    pickle.dump(players_shots_restricted, f, protocol=pickle.HIGHEST_PROTOCOL)